<p>{{ sections.settings.date }}</p>
<img src="{{ sections.settings.ginger-img-2 | img_url }} ">
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text",
        "id": "date",
        "label": "date-text"
        },
       {
        "type": "image_picker",
        "id": "ginger-img-2",
        "label": "ginger-img"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}